.float-button {

  background-color:#3B81F0;
  opacity: 0.9;
  color: white;
  border-radius: 50%;
  /*border-radius:15% 0 0 0;*/
  width: 10%;
  padding: 25px;
  font-size: 40px;
  position: fixed;
  bottom: 10%; /* Adjust height */
  right: 10%; /* Adjust position */
  z-index: 1000;
}

.float-button .height_fix {
  margin-top: 100%;
  border: 1px solid #3B81F0;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px;
  color: white;
}
.center-text{
  text-align: center;
  vertical-align: middle;
}
.color-text{
  color:#3B81F0;
}
