<ion-view view-title="Agrega un familiar">
  <ion-content class="padding">
    <form name="familiarForm" novalidate="" >
      <div class="list" ng-show="!mostrar">
        <label class="item item-input">
          <span class="input-label">Nombre</span>
          <input type="text" name="nombre" ng-model="familiar.nombre" placeholder="Ingresa el nombre de tu familiar" required>
        </label>

        <label class="item item-input">
          <span class="input-label">Sobrenombre</span>
          <input type="text" name="sobrenombre" ng-model="familiar.apodo" placeholder="Ingresa el sobrenombre de tu familiar" required>
        </label>

        <label class="item item-input">
          <span class="input-label">Parentesco</span>
          <input type="text" name="parentesco" ng-model="familiar.parentesco" placeholder="Ingresa el parentesco de tu familiar" required>
        </label>

      </div>
      <button class="button button-full button-balanced" ng-show="mostrar" ng-click="init()">Agregar otro familiar</button>
      <button class="button button-full button-positive" type="submit" ng-click="save(familiar)" ng-show="!mostrar" >
        Guardar
      </button>
      <button class="button button-full button-assertive" ng-click="cancel()">
        Cancelar
      </button>

    </form>
  </ion-content>
</ion-view>
