<ion-view view-title="Crea tu perfil">
  <ion-content class="padding">
    <form name="registroForm" novalidate="" ng-show="registro">

      <div class="list">

        <label class="item item-input">
          <span class="input-label">Nombre</span>
          <input type="text" name="nombre" ng-model="usuario.nombre"required>
        </label>

        <label class="item item-input">
          <span class="input-label">Sobrenombre</span>
          <input type="text" name="sobrenombre" ng-model="usuario.apodo" required>
        </label>

        <label class="item item-input">
          <span class="input-label">Fecha de Nacimiento</span>
          <input type="date" name="fecha" ng-model="usuario.fecha" required>
        </label>

        <label class="item item-input">
          <span class="input-label">Correo electr&oacute;nico</span>
          <input type="email" name="email" ng-model="usuario.email" required>
        </label>

        <button class="button button-full button-energized" ng-click="addMedia()">
          Agregar Imagen
        </button>

      </div>

      <button class="button button-full button-positive" type="submit" ng-click="save(usuario)">
        Registrarme
      </button>

    </form>

    <form name="famForm" novalidate="" ng-show="familiar">

      <div class="list">
        <label class="item item-input">
          <span class="input-label">Correo electr&oacute;nico</span>
          <input type="email" name="email" ng-model="email" required>
        </label>
      </div>
      <button class="button button-full button-positive" type="submit" ng-click="cargar(email)">
        Ingresar
      </button>
    </form>
    <button class="button button-full button-balanced" type="submit" ng-click="registro=true" ng-show="!registro && !familiar">
      Registrarme
    </button>
    <button class="button button-full button-positive" type="submit" ng-click="familiar=true" ng-show="!registro && !familiar">
      Soy un familiar
    </button>

  </ion-content>
</ion-view>
