<div class="modal">
  <header class="bar bar-header bar-positive">
    <h1 class="title">Agregar actividades</h1>
    <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
  </header>
  <content has-header="true" padding="true">
    <h4>¿Desea agregar más actividades?</h4>
    <button class="button button-full button-positive">
      <span class="icon ion-close"></span>
    </button>
    <button class="button button-full button-assertive" ng-click="cancel()">
      <span class="icon ion-checkmark"></span>
    </button>
  </content>
</div>
