<ion-view view-title="Familiares">
  <ion-nav-buttons side="right" >
    <button class="button button-icon button-clear ion-compose button-positive" ng-show="true" ng-click="edit()">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="f in familiares" type="item-text-wrap">
        <!--img ng-src="{{chat.face}}"-->
        <img ng-src="{{f.rutaImagen}}">
        <div>
          <h2>{{f.nombre}}</h2>
          <p>{{f.apodo}} - {{f.parentesco}}</p>
          <a href="#/tab/familiares/{{f.id}}" ng-show="!mostrar"><i class="icon ion-chevron-right icon-accessory"></i></a>
          <a ng-show="mostrar" href="" ng-click="remove(f)"><i class="icon ion-close icon-accessory"></i></a>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="float-button">
      <span class="height-fix">
        <a class="content" href="#/tab/familiares/registro">
          <i class="ion-ios-plus-empty"> </i>
        </a>
      </span>
  </div>

</ion-view>
